* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(18, 18, 62);
}
.left {
  font-size: 30px;
}
.right {
  font-size: 17px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 25px;
}
nav ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
}
.firstleftsection {
  font-size: 3rem;
  width: 35%;
  align-items: center;
  margin: 39px 57px;
}
.purple {
  color: rgb(162, 101, 218);
}
.firstrightsection {
  width: 45%;
}
.firstrightsection img {
  margin: 40px 0;
  width: 500px;
}
hr {
  border: 0;
  background-color: rgb(18, 18, 62);
  height: 3px;
  margin: 45px 60px;
}
.Second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
}
.Secondleftsection img {
  margin: 25px 25px;
  width: 300px;
}
.Secondrightsection h1 {
  margin: 15px 65px;
}
.Secondrightsection p {
  margin: 0px 65px;
  font-size: x-large;
}
footer {
  background-color: rgb(6 6 55);
}
.footer {
  display: flex;
  margin: 35px 110px;
  justify-content: space-evenly;
  padding-top: 20px;
  font-size: larger;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 217px;
}
.footer-1 ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
.footer-1 ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
.footer-2 ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
.footer-2 ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
.footer-3 ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
.footer-3 ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
.footer-4 ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
.footer-4 ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
.footer-5 ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
.footer-5 ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
.footer-6 ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
}
.footer-6 ul li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: none;
  font-size: 1.2rem;
}
footer .text-center {
  text-align: center;
  padding: 25px;
  color: gray;
}
footer h3 {
  margin: 38px 34px;
  font-size: 30px;
}
footer div {
  padding-top: 1px;
}
/* ================= MOBILE RESPONSIVE ================= */
@media screen and (max-width: 768px) {

  /* NAVBAR */
  nav {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .left {
    font-size: 22px;
    margin-bottom: 10px;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li {
    margin: 0;
  }

  /* FIRST SECTION (HERO) */
  .first {
    flex-direction: column-reverse;
    text-align: center;
    margin: 30px 0;
  }

  .firstleftsection {
    width: 90%;
    font-size: 1.8rem;
    margin: 10px auto;
  }

  .firstrightsection {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .firstrightsection img {
    width: 100%;
    max-width: 280px;
    margin: 20px 0;
  }

  /* ABOUT SECTION */
  .Second {
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
  }

  .Secondleftsection img {
    width: 200px;
    margin: 10px auto;
  }

  .Secondrightsection h1 {
    margin: 15px 0;
  }

  .Secondrightsection p {
    margin: 0 15px;
    font-size: 1rem;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
  }

  footer h3 {
    text-align: center;
    font-size: 22px;
    margin: 20px 0;
  }

  footer .text-center {
    font-size: 14px;
  }
}